<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.css' rel='stylesheet' />
        <!--[if lte IE 8]>
        <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.ie.css' rel='stylesheet' />
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Instagram Maps</a>
                    <div class="nav-collapse collapse">
                    </div>
                </div>
            </div>
        </div>

        <div id='map' class='dark'></div>
        <div id='media'></div>

        <script src="js/libs/mapbox.js"></script>
        <script data-main="js/main" src="js/libs/require.js"></script>
        <script type="text/template" id="popover-template">
          <div class="popup">
          </div>
        </script>

        <script type="text/template" id="item-template">
          <!--<div class="icon-remove"></div>-->
          <% _.each(mediaCollection, function(media) { %>
            <a href="<%- media.link %>" target="_blank" style=" height: 200px; width: 200px; display: inline-block; background-size: 100%; background-image: url('<%- media.images.standard_resolution.url %>') "></a>
          <% }); %>
          <div style="position: absolute; top: 100px; left: 160px;"></div>
        </script>
    </body>
</html>
